$--colors: (
  "primary": (
    "base": #f4a62a,
  ),
);
//在项目中改变 Element 的样式变量
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors
);

@import './common-variables.scss';

/** element-ui覆盖样式 **/

// popover
.el-popper {
  border: none !important;
  &.common-popover{
    background-color: var(--common-popper-bg-color) !important;
    .el-popper__arrow {
      display: none !important;
    }
    .el-dropdown-menu{
      background-color: var(--common-popper-bg-color) !important;
      .el-dropdown-menu__item{
        height: 44px;
        line-height: 44px;
        color: var(--common-font-color);
        &:not(.is-disable){
          &:focus{
            background-color: var(--common-popper-hover-color) !important;
          }
          &:hover{
            background-color: var(--common-popper-hover-color) !important;
          }
        }
      }
    }
  }
}
.el-popper[x-placement^="bottom"] {
	&.common-popover {
		margin-top: 10px !important;
	}
}






